/*.period is a class can be used over and over, # is Identifier can only be used once*/
/*
    COLORS FOR THIS THEME...

    #FFE8F6 white
    #5C832F light green
    #284907 dark forest green
    #382513 brown
    #363942 dark grey

*/
.span1{
    font-family: 'Pacifico', cursive;
    color:#1bdb0c;
    font-style:italic;
}


body{
    margin:0px;
}
.TopContent  
{
	width: auto;
    height: 16vh;
}
.GreenGiant{
    background-image:url(../GreenTheme/Images/4.PNG), linear-gradient(lightgreen, white);
    background-repeat:no-repeat;
    background-position:bottom center;
    
    
}
/*NAVIGATION CONTENT HERE*/
.PrimaryNavigation
{
    font-family: Arial;
    font-size:  24px; 
    position:relative; /* relative to the last element */ 
}
.PrimaryNavigation li
{ 
    list-style:none; 
    width:100%;
    display:inline;
}
/*  anchor tag */
.PrimaryNavigation a {
	color:black;  /* text all channels = white*/
	text-decoration:none; /* turn off underline */
	font-weight:bold; /* bold the text */
	padding-left:.65em; 
}
.PrimaryNavigation ul{
    text-align:left;
}
.PrimaryNavigation :hover{
    color:#5C832F;
}
.active{
    color:#5C832F;
}
h1{
    text-align:center;
    
    /*padding-left: 25%;*/
}
h2 {
    padding-top: 5%;
    /*padding-left: 25%;*/
    align-self: center;
}



#form1{
    height: 100px;
}


.mainContainer{
    padding:3% 7%;
    color:white;
    font-size: 3.4vh;
    text-shadow: 0px 0px 50px  black;
}
.mainContainer p{
    color:white;
    font-size:50px;
}
.BGimg{
    background-size:cover;
    background-position:center;
    background-attachment:fixed; /*maybe*/
    box-shadow: 1px 5px 20px  black;
    
}
/*HOME content HERE*/
.mainHome{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/HOME-min.JPG);
}

#mission{
    font-size:20px;
    text-align:center;
    width:60%;
    height:100%;
    padding-bottom:100px;
    margin:auto;
}

/*EVENT content HERE*/
.mainEvent{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/events-min.jpg);
    background-position:bottom;
}
.calendar{
    padding-left: 35%;
    font-size:30px;
}
.events{
    width:100%;
    height:600px;
    background-color:black;
    position:relative;
}
.eventsLeft{
    width:45%;
    height:400px;
    float:left;
    background-color:green;
    left: -100%;
    position:inherit;
}
.eventsRight{
    width:45%;
    height:400px;
    float:right;
    background-color:red;
    position:inherit;
}

/*CARBON content HERE*/
.mainCalc{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/Solution-min.JPG);
    background-position:bottom;
}

/*POLLUTION content HERE*/
.mainPollution{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/Pollution-min.jpg);
}
/*CONTACT content HERE*/
.mainContact{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/contact-min.jpg);
}
#contactUs{
    align-content: center;
    /*padding-left: 25%;*/
}
/*FOOTER content HERE*/
.footer{
    position: relative;
    right: 0;
    bottom: 0px;
    left: 0;
    height:100px;
    width:100%;
    background-color:#363942;
    text-align:center;
    
   
}
.leftFoot,
.midFoot,
.rightFoot {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   text-align: center;
   font-size: 25px;
   padding: 0 8%;
   margin-top:20px;
   min-width: 300px;
   width: 33%;
   color:white;

   
   
}
/* just messing around lol */
@media screen and (max-width: 480px){
.leftFoot,
.midFoot,
.rightFoot {
   display: block;
}

}