/*.period is a class can be used over and over, # is Identifier can only be used once*/
/*
    COLORS FOR THIS THEME...
    #FFE8F6 white
    #5C832F light green
    #284907 dark forest green
    #382513 brown
    #363942 dark grey
*/

.span1{
    font-family: 'Norican';
    color:#1bdb0c;
    text-shadow:3px 3px 3px black;
    font-size:12vh;
}
i{
    text-shadow:1px 1px 1px black;
}
.midArrow{
    animation-name:bounce;
    animation-iteration-count:infinite;
    animation-duration:3s;
    width:100%;
    position:absolute;
    bottom:0px;
    left:0px;
}
@keyframes bounce {
	0%, 40%, 80% {
    transform:translateY(0);
  }
	20%, 60% {
    transform:translateY(-10px);
  }

}

body{
    margin:0px;
    font-family: 'Raleway', Helvetica, sans-serif;
}
.TopContent  {
	width: auto;
    height: 16vh;
}
.GreenGiant{
    background-image:url(../GreenTheme/Images/4.PNG), linear-gradient(lightgreen, white);
    background-repeat:no-repeat;
    background-position:bottom center;
}
/*NAVIGATION CONTENT HERE*/
.PrimaryNavigation{
    font-size: 20px; 
    position:fixed;
    width:100%;
    background:white;
    color:black;
    transition: all 0.5s ease-in-out;
    padding:4px;
    height:25px;
    z-index:1;

}
.sticky {
     height:20px;
     position:fixed;
     text-align:center;
     font-size: 15px;
}
.PrimaryNavigation li { 
    list-style:none; 
    width:100%;
    display:inline;
    vertical-align:middle;
}
/*  anchor tag */
.PrimaryNavigation a, .userSettings a {
	color:black;  /* text all channels = white*/
	text-decoration:none; /* turn off underline */
	font-weight:bold; /* bold the text */
	padding-left:.65em; 
}
/*.PrimaryNavigation a:hover{
    border-bottom:solid 5px red;
}*/
.PrimaryNavigation ul{
    padding-left:5%;
    text-align:left;
    margin:0px;
    /*position:center;*/
}
.PrimaryNavigation :hover, .userSettings :hover, .basicStyle1 i:hover{
    color:#5C832F;
    transition: all 0.5s ease;
}
.active{
    color:#5C832F;
}

h1{
    text-align:center;
    
    /*padding-left: 25%;*/
}
h2 {
    padding-top: 5%;
    /*padding-left: 25%;*/
}

#form1{
    height: 100px;
}
 /*COLUMN CONTENT*/
.myCol3 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 2vh;
    padding: 3%;
    min-width: 300px;
    width: 33%;
    float:left;
}
.myCol2{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 2vh;
    padding: 2%;
    min-width: 300px;
    width: 50%;
    float:left;
    margin:auto;
    position:relative;
} 
.colh1 {
   font-size: 6vh;
   margin-bottom:10px;
   text-align:center;
}           
/*BASIC CONTENT STYLES*/
.basicStyle1{
    font-size:20px;
    text-align:center;
    width:60%;
    height:350px;
    padding-bottom:100px;
    margin:auto;
    display:block;
}
.basicStyle2{
    font-size:20px;
    text-align:center;
    width:60%;
    height:900px;
    padding-bottom:100px;
    margin:auto;
    display:block;
}
.middleBreak {
    width: 100%;
    height: 17vh;
    color: white;
    text-align: center;
    background-color:black;
}
.middleH1{

}
        /*IMAGES AND STYLING*/
.circle{
	width: 230px;
	height: 230px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px;
	border-radius: 50%;
    background-position:center;
    background-size:cover;
    /*margin:auto;*/ /*maybe*/
}
.bgBee{
    background-image:url(../GreenTheme/Images/bgBee-min.jpg);
}
.bgGreen{
    background-image:url(../GreenTheme/Images/bgGreen-min.jpg);
}


.mainContainer{
    padding:3% 7%;
    text-align:center;
    color:white;
    font-size: 3.4vh;
    text-shadow:3px 3px 3px black;

}
.mainContainer p{
    color:white;
    font-size:50px;
}
.BGimg{
    background-size:cover;
    background-position:center;
    background-attachment:fixed; /*maybe*/
    box-shadow: 1px 5px 20px  black;
}
.transBOX{
    background-color:rgba(221, 221, 221, 0.30);
    border-radius:10px;
    width:100%; 
}
/*HOME content HERE*/
.mainHome {
    width: 100%;
    height:100vh;
    background-image:url(../GreenTheme/Images/home1-min.jpg);
}
.mainHome h1{
    font-size:8vh; /*10?*/
}

/*EVENT content HERE*/
.mainEvent{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/events-min.jpg);
    background-position:bottom;
}
.calendar{
    padding-left: 35%;
    font-size:30px;
}
#events{
    width:100%;
    height:600px;
    color:white;
}
.eventsLeft{
    width:45%;
    height:400px;
    float:left;
    background-color:green;
    color:white;
}
.eventsRight{
    width:45%;
    height:400px;
    float:right;
    background-color:red;
    color:white;
}

/*CARBON content HERE*/
.mainCalc{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/Solution-min.JPG);
    background-position:bottom;
}

/*POLLUTION content HERE*/
.mainPollution{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/Pollution-min.jpg);
}
.pollutionSmall{
    /*background-color:red;*/
    width:40%;
    height:250px;
}
.pollutionWide{
    /*background-color:yellow;*/
    width:60%;
    height:250px;
}
/*CONTACT content HERE*/
.mainContact{
    width: 100%;
    height:50vh;
    background-image:url(../GreenTheme/Images/contact-min.jpg);
}
#contactUs{
    align-content: center;
    /*padding-left: 25%;*/
}
/*LANGUAGE*/
.languages{
    float:right;
    padding-right:50px;
}
/*USER PROFILE*/
.mainUser{
    width: 100%;
    height:20vh;
    background-image: linear-gradient(white, rgba(27, 219, 12, 0.60));
    color:black;
    font-size:20px;
    position:relative;
}
.userMainBOX{
    width:100%;
    height:100vh;
    padding-top: 3%;
    background-color:yellow;
    position:relative;

}
        .userSettings{
            width:15%;
            height:99vh;
            background-color:red;
            
            
        }
        .userContent{
            margin-left:1%;
            width:75%;
            height:99vh;
            background-color:blue;
            
        }
             .userSettings,
             .userContent{
             float:left;
            -moz-box-sizing: border-box;
             box-sizing: border-box;
             display:block;
             font-size: 25px;
             padding:3% 1%;
             margin-top:5px;                 
        }
             #Link1, #Link2, #Link3, #Link4, #Link5{
                 display:none;
             } 
             #Link1:target, #Link2:target, #Link3:target, #Link4:target, #Link5:target{
                 display:inline-block;  
                 padding-top:9%;
                 margin-top:-9%;                   
             }
/*ERROR PAGE*/
.errorPage{

    color:red;
}


/*FOOTER content HERE*/
.footer{
    position: relative;
    right: 0;
    bottom: 0px;
    left: 0;
    height:225px;
    min-height:100%;
    width:100%;
    background-color:#363942;
    text-align:center;  

}
.footer a{
    text-decoration:none;
    color:white;
}
.footer a:visited{
    color:white;
}
.footer a:hover{
    color:#5C832F;
    transition: all 0.4s ease;
}
.leftFoot,
.midFoot,
.rightFoot{
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   text-align: center;
   font-size: 25px;
   padding: 0 8%;
   margin-top:20px;
   min-width: 300px;
   width: 33%;
   color:white;
   float:left;

   
   
}
/* just messing around lol */
@media screen and (max-width: 480px){
.leftFoot,
.midFoot,
.rightFoot,
.myCol3,
.myCol2{
   display: block;
   text-align:center;
   margin:auto;
   width:100%;
   padding-bottom:20px;
   min-width:0px;
}
.circle{
    width: 150px;
	height: 150px;
    margin:auto;
}
.basicStyle2{
   height:1600px;
}

}

/*///////////////////////////////////////////////////////*/