<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Team_Compostable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="/Pages/ErrorPage.html"/>-->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages enableViewState="true" theme="GreenTheme">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<globalization uiCulture="de" culture="de" />-->

  </system.web>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SQL-20151114123158.mdf;Initial Catalog=aspnet-SQL-20151114123158;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JoeDB"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=oz-IST-iissql.abington.psu.edu;Initial Catalog=IST421JoeTeam3;Integrated Security=False;User ID=ist421joeteam3; Password=ist421joeteam3;MultipleActiveResultSets=True" />
  </connectionStrings>
  <applicationSettings>
    <Team_Compostable.Properties.Settings>
      <setting name="Team_Compostable_retrive_Service1" serializeAs="String">
        <value>http://localhost:58624/Service1.svc</value>
      </setting>
      <setting name="Team_Compostable_retrieve_Service1" serializeAs="String">
        <value>http://localhost:58624/Service1.svc</value>
      </setting>
    </Team_Compostable.Properties.Settings>
  </applicationSettings>
</configuration>
