<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Team_Compostable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <pages theme="GreenTheme" enableViewState="true"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<globalization uiCulture="de" culture="de" />-->

  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SQL-20151114123158.mdf;Initial Catalog=aspnet-SQL-20151114123158;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JoeDB"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=oz-IST-iissql.abington.psu.edu;Initial Catalog=IST421JoeTeam3;Integrated Security=False;User ID=ist421joeteam3; Password=ist421joeteam3;MultipleActiveResultSets=True" />
  </connectionStrings>
  <applicationSettings>
    <Team_Compostable.Properties.Settings>
      <setting name="Team_Compostable_retrive_Service1" serializeAs="String">
        <value>http://localhost:58624/Service1.svc</value>
      </setting>
    </Team_Compostable.Properties.Settings>
  </applicationSettings>
</configuration>
